server:
  port: 8083

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://110.165.19.186:3306/balance_talk?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: Dlrj4wh@

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: thisissecretkalsdjflkawjfoiqjweofjasdoijfoiqwejfoiweqjofijqwoeifjqwoeifjqoweifjoqwiejfoqwiejfofiqewj
  token-expired-seconds: 3600