spring:
  datasource:
    #    url: jdbc:h2:~/balancetalk
    url: jdbc:h2:~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true # H2 Console을 사용할지 여부 (H2 Console은 H2 Database를 UI로 제공해주는 기능)
      path: /h2-console # H2 Console의 Path

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: thisissecretkalsdjflkawjfoiqjweofjasdoijfoiqwejfoiweqjofijqwoeifjqwoeifjqoweifjoqwiejfoqwiejfofiqewj
  token-expired-seconds: 10000