server:
  port: 8080

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/balancetalk
    username: sa
    password:

  jpa:
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: thisissecretkalsdjflkawjfoiqjweofjasdoijfoiqwejfoiweqjofijqwoeifjqwoeifjqoweifjoqwiejfoqwiejfofiqewj
  token-expired-seconds: 3600